<body id="bg">

  <div class="col-md-4 col-md-offset-4" >
  <form action="/write" method="POST" style="margin-top:60px;">
  
    <div class="form-group">
      <label for="exampleInputEmail1">이름</label>
      <input type="text" class="form-control" id="nanum" placeholder="이름을 입력하세요" name="title">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">1</label>
      <input type="text" class="form-control" id="nanum" placeholder="넣고싶은 첫 번째 요소를 입력하세요" name="content_1">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">2</label>
      <input type="text" class="form-control" id="nanum" placeholder="넣고싶은 두 번째 요소를 입력하세요" name="content_2">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">3</label>
      <input type="text" class="form-control" id="nanum" placeholder="넣고싶은 세 번째 요소를 입력하세요" name="content_3">
    </div>
    
    <button type="submit" class="btn btn-danger"> *-* </button>
  
  </form>
  </div>

</body>